a{
  color:#333;
  text-decoration:none;
  border-bottom: dotted 1px #555;  
}
a:hover,a:focus{

  box-shadow:0 1px 0 rgba(255,255,255,.4);
}

a span{
  position:absolute;    
  opacity:0;
  margin-top:23px;
  margin-left:-35px;
  color:#09c;
  background:#FFF;
  padding:15px;
  border-radius:3px;
  box-shadow:0 0 2px rgba(0,0,0,.5);
}
a:hover span, a:focus span{
  opacity:1;
}
